[package]
name = "polkadot-rewards"
version = "0.1.0"
authors = ["Andrew Plaza <andrew.plaza@parity.io>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.38"
argh = "0.1.4"
chrono = { version ="0.4.19", features = ["serde"] }
csv = "1.1.5"
env_logger = "0.8.3"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
ureq = { version = "2.0", features = ["json"] }
log = "0.4.14"
indicatif = "0.15"
