name: Rust

on: [push, pull_request]

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v3

      - name: Install Rust Stable toolchain
        uses: actions-rs/toolchain@v1.0.7
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Install Rust Nightly Toolchain
        uses: actions-rs/toolchain@v1.0.7
        with:
          profile: minimal
          toolchain: nightly
      
      - name: Cache Dependencies & Build Outputs
        uses: actions/cache@v3.3.1
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
            bin/node-template-archive/target
            bin/polkadot-archive/target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Check Code
        uses: actions-rs/cargo@v1.0.3
        with:
          command: check
          args: --all-targets
  lints:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v3

      - name: Install Rust Stable Toolchain
        uses: actions-rs/toolchain@v1.0.7
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Cache Dependencies & Build Outputs
        uses: actions/cache@v3.3.1
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Check Code Format
        uses: actions-rs/cargo@v1.0.3
        with:
          command: fmt
          args: --all -- --check
      
      - name: Code Lint
        uses: actions-rs/cargo@v1.0.3
        with:
          command: clippy
          args: -- -D warnings
